*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    /* text-transform: capitalize; */
    font-family:sans-serif;
    background-color: black;
    color: white;
    
}
nav{
    background-color: black;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardContainer{
    border: 2px solid white;
    height: 100%;
    width: 78em;
    margin-left: 8em;
    margin-top: 82px;
    

}
nav{
    display: flex;
    justify-content: space-between;
}
.navTitle{
    font-size: 40px;
    color:white;  
    margin: 23px;
    margin-left: 3em;
    margin-top: 101px;
}

.topBtn{
    border: 2px solid white;
    padding: 10px;
    color: white;
    margin: 23px;
    margin-top: 101px;
    margin-right: 121px;
    cursor: pointer;
}


h1{
    font-size: 40px;
    color:white;  
    margin: 40px;
    margin-left: 0px;
    
}
.rating-info{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: -26px;
    margin-left: 4px;
    margin-right: 20px;
}
.BOX{
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 39px;
    border: 2px solid white;
}
.trailer-iframe{
    height: 561px;
    width: 865px;
}
.description{
    margin: 6em;
    font-size: 18px;
    margin-left: 2px;
    letter-spacing: 1px

}
.p{
    margin: 20px;
    margin-left: 2px;
    letter-spacing: 1px
}
